@font-face {
    font-family: "EL marisi";
    src: url(../fonts/Cairo-Regular.ttf);
}


body {
    font-family: "EL marisi", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.form-container {
    margin-top: 100px;
      width: 100%;
      background: linear-gradient( #ea5358, #FFA500) padding-box,
                  linear-gradient(145deg, transparent 35%,#0d0c22, #212121) border-box;
      border: 2px solid transparent;
      padding: 32px 24px;
      font-size: 14px;
      font-family: inherit;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-sizing: border-box;
      border-radius: 16px;
  
      direction: rtl;
  }
  
  .form-container button:active {
  scale: 0.95;
  }
  
  .form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  }
  
  .form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  }
  
  .form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  }
  
  .form-container .form-group input {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
  opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
  outline: none;
  border-color: #f4f4f4;
  }
  
  .form-container .form-group textarea:focus {
  outline: none;
  border-color: #f4f4f4;
  }
  
  .form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
  }
  
  