/* أنماط عامة */
@font-face {
    font-family: "EL marisi";
    src: url(../fonts/Cairo-Regular.ttf);
}


body {
    font-family: "EL marisi", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}



.container {
    padding: 20px;
   
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 160px 0;
    width: 100%;
    bottom: 0;
}



/* From Uiverse.io by vinodjangid07 */ 
.card2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 25px 25px;
    margin-top: 50px;
    gap: 20px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  
  
#projects h2 , #services h2{
  margin-top: 100px;
}